fastapi==0.115.0
uvicorn[standard]==0.30.6 

SQLAlchemy==2.0.32 
pydantic==2.8.2
pydantic-settings==2.4.0
python-dotenv==1.0.1
httpx==0.27.2

requests
openai
stripe
pyjwt==2.9.0
cryptography==42.0.8
google-auth==2.33.0
google-auth-oauthlib==1.2.1
google-api-python-client==2.143.0
psycopg[binary]
alembic==1.13.2
apscheduler==3.10.4
